{#
  ./templates/pages/index.html.twig
  Variables disponibles:
    - pages Array( Page( id, titre..,texte.., slug.., tri ) )   Multilingue  .. => fr, en
    - numPage int
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}

{# BOUTONS DE NAVIGATION DES PAGES #}
{% for page in pages %}
  <li class="{% if page.id == numPage %}active{% endif %}">
    <a href="{{ path('app_pages_show', {
                    'id': page.id,
                    'slug': attribute( page, 'slug' ~ app.request.locale )
              }) }}">
      {{ attribute( page, 'titre' ~ app.request.locale ) }}
    </a>
  </li>
{% endfor %}
