{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page(id titrefr titreen textefr texteen slugfr slugen tri)
    - sqloffset
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute( page, 'slug' ~ app.request.locale ) }} - {{ 'titre' | trans }}
{% endblock %}

{% block script_head %}
  {% if page.id == 1 or page.id == 3 or page.id == 4  %}
    <script src="//use.edgefonts.net/bebas-neue.js"></script>
  {% endif %}
{% endblock %}

{% block content1 %}
  {# Si il y a du texte à afficher dans le bandeau vert #}
  {% if attribute( page, 'texte' ~ app.request.locale )  %}
    <div class="section section-breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ attribute( page, 'texte' ~ app.request.locale ) }}</h1>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {# CONTENUS COMPLEMENTAIRES Page 1 - Accueil #}
  {% if page.id == 1 %}

    {# Page ACCUEIL - Affichage du SLIDE #}
    {{ render(controller('App\\Controller\\SlideController::indexAction')) }}

    {# LISTE DES TRAVEAUX RECENTS #}
    {{ render(controller('App\\Controller\\PortfolioController::indexAction',{ vue: 'indexlast', orderBy: { 'datecreation' : 'DESC'}, limit: 6 } )) }}

    <hr>

    <div class="section">
      <div class="container">
        <div class="row">

          {# Derniers articles de blog #}
          <div class="col-sm-6 featured-news">
            <h2>{{ 'accueil.postlast' | trans }}</h2>
            {# LAST Posts #}
            {{ render(controller('App\\Controller\\PostController::indexAction',{ vue: 'indexlast', orderBy: { 'datecreation' : 'DESC'}, limit: 3  } )) }}
          </div>

          {# Dernières actualités FaceBook/Twitter #}
          <div class="col-sm-6 latest-news">
            <h2>{{ 'accueil.newslast' | trans }}</h2>
            {# LAST News #}
            {{ render(controller('App\\Controller\\NewsController::indexlastAction',{ orderBy: { 'datecreation' : 'DESC'}, limit: 3  } )) }}
          </div>

        </div>
      </div>
    </div>


  {# CONTENUS COMPLEMENTAIRES Page 2 - Portfolio #}
  {% elseif page.id == 2 %}

    {# Page Portfolio #} {# ( 'titre' ~ app.request.getLocale() #}
    {{ render(controller('App\\Controller\\PortfolioController::indexAction',{ orderBy: { 'id' : 'ASC'} } )) }}

  {# CONTENUS COMPLEMENTAIRES Page 3 - Blog #}
  {% elseif page.id == 3 %}

    {# Affiche l'aperçu des Post #}
    {{ render(controller('App\\Controller\\PostController::indexAction',{ offset: sqloffset|number_format  } )) }}

  {# CONTENUS COMPLEMENTAIRES Page 4 - Contact #}
  {% elseif page.id == 4 %}

    {# MAPS GOOGLE #}
    {% include 'partials/map.html.twig' %}

    {# CONTACT - adresse, tel, email, etc #}
    {% include 'partials/contact.html.twig' %}

  {% endif %}

{% endblock %}


{% block app_script %}
  {# Scripts - PAGE 1 #}
  {% if page.id == 1 %}<script src="{{ asset("js/app_more_news.js") }}"></script>{% endif %}
  {# Scripts - PAGE 2 #}
  {% if page.id == 2 %}<script src="{{ asset("js/app_more.js") }}"></script>{% endif %}
{% endblock %}
