{#
  ./templates/newss/indexlast.html.twig
  Variables disponibles:
    - newss Array( news( id, titre, texte, slug, array datecreation() ) )
#}
{# Liste - actualités FaceBook/Twitter #}
{% for nw in newss %}
  <div class="row">
    <div class="col-sm-12">
      <div class="caption"><strong>{{ nw.titre }}</strong></div>
      <div class="date">{{ nw.datecreation|date('d-m-Y') }}</div>
      <div class="intro morenw" >{{ nw.texte  [:150] }}
        {% if nw.texte|length > 150 %}
          <strong>...</strong>  &nbsp; &nbsp; <a href="#">{{ 'blog.bouton' | trans }}...</a> 
        {% endif %}
      </div>
      <div class="intro hid" >{{ nw.texte }}</div>
    </div>
  </div>
{% endfor %}
