{#
  ./templates/news/show.html.twig
  Variables disponibles:
  - news( id, titre, texte, slug, array datecreation() )
#}

{% extends 'base.html.twig' %}

  {% block title %}
    {{ news.titre }}
  {% endblock %}

{% block content1 %}
  <br/><br/><br/><br/><br/><br/><br/>
  <h1>News: {{ news.titre }}</h1>
  <div>
    News Texte:<br/>{{ news.texte }}
  </div>
  <br/>
{% endblock %}

{% block app_script %}
{% endblock %}
