{#
  ./templates/tags/index.html.twig
  Variables disponibles:
    - tags Array(tag( id, nom.., slug.., array portfolios() ))  .. => fr, en
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}
<ul class="blog-categories">
  {% for tag in tags %}
    <li>
      <a href="{{ path('app_tags_show', {
                    'id': tag.id,
                    'slug': attribute( tag, 'slug' ~ app.request.locale )
              }) }}">
        {{ attribute( tag, 'nom' ~ app.request.locale ) }}
      </a>
    </li>
  {% endfor %}
</ul>
