{#
  ./templates/tags/show.html.twig
  Variables disponibles:
    - tag( id, nom.., slug.., array portfolios() )           .. => fr, en
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ 'tag-item.titre' | trans }} {{ attribute( tag, 'nom' ~ app.request.locale ) }}
{% endblock %}

{% block content1 %}
<!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ 'tag-item.titre' | trans }} {{ attribute( tag, 'nom' ~ app.request.locale ) }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">

        {% set class = 'col-md-4 col-sm-6' %}
        {% set portfolios = tag.portfolios %}
        <ul class="grid cs-style-3">
          {# Affichage de l'aperçu des PORTFOLIOS #}
          {% include 'partials/listeportfolios.html.twig' %}
        </ul>

      </div>
    </div>
  </div>
{% endblock %}

{% block app_script %}
{% endblock %}
