{#
  ./templates/posts/index.html.twig
  Variables disponibles:
    - posts Array(post( id datecreation titreprincipalfr titreprincipalen texteprincipalfr texteprincipalen titresecondairefr titresecondaireen textesecondairefr textesecondaireen image slugfr slugen ))
    - limit int
    - offset int
    - nbposts Array[1]
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}
<div class="section">
  <div class="container">
    <div class="row">
      {# Affichage de l'aperçu des POSTS #}
      {% for post in posts %}
        <!-- Blog Post Excerpt -->
        <div class="col-sm-6">
          <div class="blog-post blog-single-post">
            <div class="single-post-title">
              <h2>{{ attribute( post, 'titreprincipal' ~ app.request.locale ) [:27]  }}</h2>
            </div>

            <div class="single-post-image">
              <img src="{{ asset("img/blog/" ~ post.image ) }}" alt="{{ attribute( post, 'titreprincipal' ~ app.request.locale ) }}">
            </div>

            <div class="single-post-info">
              <i class="glyphicon glyphicon-time"></i> {{ post.datecreation|date('d-m-Y') }} <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>{{ post.id }}</a>
            </div>

            <div class="single-post-content">
              <p>
                {{ attribute( post, 'texteprincipal' ~ app.request.locale ) [:235] }} ...
              </p>
              <a href="{{ path('app_posts_show', {
                              'id': post.id,
                              'slug': attribute( post, 'slug' ~ app.request.locale )
                        }) }}" class="btn">{{ 'blog.bouton' | trans }}
              </a>
            </div>
          </div>
        </div>
        <!-- End Blog Post Excerpt -->
      {% endfor %}
    </div>

    {# PAGINATION #}
    {% set nb_boucles = nbposts[1] / limit %}
    {% set nb_boucles = nb_boucles|round(0,'floor') %}
    <div class="pagination-wrapper ">
      <ul class="pagination pagination-sm">
        {# LI Previous #}
        <li class="{% if offset == 0 %}disabled{% endif %}">
          {% if offset > 0 %}
            <a href="{{ path('app_pages_show', {
                              'id': 3,
                              'slug': 'blog',
                              'offset': offset - 4
                            }) }}">
              {{ 'blog.precedent' | trans }}
            </a>
          {% endif %}
        </li>

        {% set cmpt_offset = 0 %}

        {% for i in 0 .. nb_boucles %}
          {# LI Pagination #}
          <li class="{% if cmpt_offset == offset %}active{% endif %}">
            <a href="{{ path('app_pages_show', {
                            'id': 3,
                            'slug': 'blog',
                            'offset': cmpt_offset
                          }) }}">
              {{ i + 1 }}
            </a>
          </li>
          {% set cmpt_offset = cmpt_offset + limit %}
        {% endfor %}

        {% if offset != limit * nb_boucles %}
          {# LI Next #}
          <li>
            <a href="{{ path('app_pages_show', {
                                'id': 3,
                                'slug': 'blog',
                                'offset': offset + 4
                              }) }}">
              {{ 'blog.suivant' | trans }}
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

  </div>
</div>
