{#
  ./templates/news/indexlast.html.twig        -        Derniers articles de blog
  Variables disponibles:
    - posts array( post( id datecreation titreprincipalfr titreprincipalen texteprincipalfr texteprincipalen titresecondairefr titresecondaireen textesecondairefr textesecondaireen image slugfr slugen ))
    - limit
    - offset
    - nbposts
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}
{% for post in posts %}
  <!-- Featured News -->
  <div class="row">

    <div class="col-xs-4">
      <a href="{{ path('app_posts_show', {
                    'id': post.id,
                    'slug': attribute( post, 'slug' ~ app.request.locale )
              }) }}">
        <img src="{{ asset("img/blog/" ~ post.image ) }}" alt="{{ attribute( post, 'titreprincipal' ~ app.request.locale ) }}">
      </a>
    </div>

    <div class="col-xs-8">
      <div class="caption">
        <a href="{{ path('app_posts_show', {
                      'id': post.id,
                      'slug': attribute( post, 'slug' ~ app.request.locale )
                }) }}">
          {{ attribute( post, 'titreprincipal' ~ app.request.locale ) }}
        </a>
      </div>

      <div class="date">
        {{ post.datecreation|date('d-m-Y') }}
      </div>

      <div class="intro">
        {{ attribute( post, 'texteprincipal' ~ app.request.locale ) [:150] }}
          {% if attribute( post, 'texteprincipal' ~ app.request.locale )|length > 150 %} <strong>...</strong>
          {% endif %}
        <a href="{{ path('app_posts_show', {
          'id': post.id,
          'slug': attribute( post, 'slug' ~ app.request.locale )
        }) }}">
          &nbsp; &nbsp; {{ 'blog.bouton' | trans }}...
        </a>
      </div>
    </div>

  </div>
{% endfor %}
