{#
  ./templates/news/indexlist.html.twig     -     Affiché dans l'Aside
  Variables disponibles:
    - posts array( post( id datecreation titreprincipalfr titreprincipalen texteprincipalfr texteprincipalen titresecondairefr titresecondaireen textesecondairefr textesecondaireen image slugfr slugen ))
    - limit
    - offset
    - nbposts
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}
{% for post in posts %}
  <!-- Featured News - Aside -->
  <li>
    <a href="{{ path('app_posts_show', {
                    'id': post.id,
                    'slug': attribute( post, 'slug' ~ app.request.locale )
              }) }}">
    {{ attribute( post, 'titreprincipal' ~ app.request.locale ) }}
    </a>
  </li>
{% endfor %}
