{#
  ./templates/posts/show.html.twig
  Variables disponibles:
    - post( id datecreation titreprincipalfr titreprincipalen texteprincipalfr texteprincipalen titresecondairefr titresecondaireen textesecondairefr textesecondaireen image slugfr slugen )
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute( post, 'titreprincipal' ~ app.request.locale ) }}
{% endblock %}

{% block content1 %}
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>BLOG POST</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <!-- Blog Post -->
      <div class="col-sm-8">
        <div class="blog-post blog-single-post">
          <div class="single-post-title">
            <h2>{{ attribute( post, 'titreprincipal' ~ app.request.locale ) }}</h2>
          </div>

          <div class="single-post-image">
            <img src="{{ asset("img/blog/" ~ post.image ) }}" alt="{{ attribute( post, 'titreprincipal' ~ app.request.locale ) }}">
          </div>
          <div class="single-post-info">
            <i class="glyphicon glyphicon-time"></i> {{ post.datecreation|date('d-m-Y') }}
            <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>
              {{ post.id }}
            </a>
          </div>
          <div class="single-post-content">
            <h3>{{ attribute( post, 'titreprincipal' ~ app.request.locale ) }}</h3>
            <p>
              {{ attribute( post, 'texteprincipal' ~ app.request.locale ) }}
            </p>
            <h3>{{ attribute( post, 'titresecondaire' ~ app.request.locale ) }}</h3>
            <p>
              {{ attribute( post, 'textesecondaire' ~ app.request.locale ) }}
            </p>
          </div>
        </div>
      </div>
      <!-- End Blog Post -->

      <!-- Aside - Sidebar -->
      <div class="col-sm-4 blog-sidebar">

        <h4>{{ 'blog-item.Recent' | trans }}</h4>
        <ul class="recent-posts">
          {# Posts récents #}
          {{ render(controller('App\\Controller\\PostController::indexAction',{ vue: 'indexlist', orderBy: { 'datecreation' : 'DESC'}, limit: 4  } )) }}
        </ul>
        <h4>Tags PORTFOLIOS</h4>
        {# liste des tags #}
        {{ render(controller('App\\Controller\\TagController::indexAction')) }}
      </div>
      <!-- End Sidebar -->
    </div>
  </div>
</div>
{% endblock %}
{% block app_script %}
  {{ attribute( post, 'titreprincipal' ~ app.request.locale ) }}
{% endblock %}
