{#
  ./templates/partials/contact.html.twig      -      Informations CONTACT
  Variables disponibles: NON
#}
<div class="section">
  <div class="container">
      <div class="row">
    <h3>{{ 'contact.contact' | trans }}</h3>
    </hr>
        <div class="col-sm-6">
          <!-- Contact Info -->
          <p class="contact-us-details">
            <b>{{ 'contact.adresse' | trans }}:</b> 123 Fake Street, LN1 2ST, London, United Kingdom<br/>
            <b>{{ 'contact.tel' | trans }}:</b> +44 123 654321<br/>
            <b>Fax:</b> +44 123 654321<br/>
            <b>Email:</b> <a href="mailto:getintoutch@yourcompanydomain.com">getintoutch@yourcompanydomain.com</a>
          </p>
          <!-- End Contact Info -->
        </div>
        <div class="col-sm-6">

        </div>
      </div>
  </div>
</div>
