{#
  ./templates/partials/head.html.twig      -      HEAD
  Variables disponibles: NON
#}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>{% block title %}{{ title }}{% endblock %}</title>
<!-- Bootstrap Core CSS -->
<link href="{{ asset("css/bootstrap.css") }}" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ asset("css/main.css") }}">
<link href="{{ asset("css/custom.css") }}" rel="stylesheet">

<!-- Page 1 3 4 -->
{% block script_head %}{% endblock %}

<!-- Custom Fonts & Icons -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ asset("css/icomoon-social.css") }}">
<link rel="stylesheet" href="{{ asset("css/font-awesome.min.css") }}">

<script src="{{ asset("js/modernizr-2.6.2-respond-1.1.0.min.js") }}"></script>
