{#
  ./templates/partials/listeportfolios.html.twig      -     Affichage de l'aperçu des PORTFOLIOS
  Variables disponibles:
    - portfolios Array(portfolio( id, client, datecreation, titre.., titresecondaire.., texte.., image, slug.., array tags() ))  .. => fr, en
    - int nbportfolios
#}

{# Affichage de l'aperçu des PORTFOLIOS #}
{% for portfolio in portfolios %}
  <div class="{{ class }}">
    <figure>
      <img src="{{ asset("img/portfolio/" ~ portfolio.image ) }}" alt="{{ attribute( portfolio, 'titre' ~ app.request.locale ) }}">
      <figcaption>
        <h3>{{ attribute( portfolio, 'titre' ~ app.request.locale ) | slice ( 0 , 18 ) }}</h3>
        <span>{{ portfolio.client }}</span>
        <a href="{{ path('app_portfolios_show', {
                      'id': portfolio.id,
                      'slug': attribute( portfolio, 'slug' ~ app.request.locale )
                }) }}">Take a look</a>
      </figcaption>
    </figure>
  </div>
{% endfor %}
