{#
  ./templates/partials/nav.html.twig      -      NAV
#}
<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_pages_show', {
                            'id': 1,
                            'slug': 'accueil'
                      }) }}"><img src="{{ asset("img/logo.png") }}" alt="Basica"></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              {% if page.id is defined %}

                {{ render(controller('App\\Controller\\PageController::indexAction',{ numPage: page.id} )) }}

              {% else %}

                {{ render(controller('App\\Controller\\PageController::indexAction',{ numPage: 0 } )) }}

              {% endif %}
            </ul>
        </div>

        {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        {# Si première visite - public/ #}
        {% if currentPath[-7:7] == "public/" %}
          {% set currentPath = currentPath ~ app.request.getLocale() %} {# Ajouter 'fr' ou 'en' à la fin de la variable temporaire 'currentPath' (url) #}
        {% endif %}
        {% if app.request.getLocale() == 'fr' %}
            {% set currentPath_fr = currentPath | replace({ 'public/fr' : 'public/fr' }) %}
            {% set currentPath_en = currentPath | replace({ 'public/fr' : 'public/en' }) %}
        {% elseif app.request.getLocale() == 'en' %}
            {% set currentPath_fr = currentPath | replace({ 'public/en' : 'public/fr' }) %}
            {% set currentPath_en = currentPath | replace({ 'public/en' : 'public/en' }) %}
        {% endif %}

        <div class="float-right">
          <a href="{{ currentPath_fr }}" class="{% if app.request.getLocale() == 'fr' %}active{% endif %}">FR</a> |
          <a href="{{ currentPath_en }}" class="{% if app.request.getLocale() == 'en' %}active{% endif %}">EN</a>
          {% if is_granted('ROLE_ADMIN') %}
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="{{ app.request.getSchemeAndHttpHost() ~  app.request.getBaseURL() ~ '/admin' }}">{{ 'ADMIN' }}</a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="{{ path('fos_user_security_logout') }}">{{ 'navigation.logout' | trans }}</a>
            {% else %}
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="{{ path('fos_user_security_login') }}">{{ 'navigation.login' | trans }}</a>
          {% endif %}
        </div>

    </div>
</header><!--/header-->
