{#
  ./templates/partials/scripts.html.twig      -      SCRIPTS
  Variables disponibles: NON
#}
<!-- Javascripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ asset("js/bootstrap.min.js") }}"></script>

<!-- Scrolling Nav JavaScript -->
<script src="{{ asset("js/jquery.easing.min.js") }}"></script>
<script src="{{ asset("js/scrolling-nav.js") }}"></script>

<!-- Zone dynamique SCRIPT en fonction des pages-->
{% block app_script %}{{ appscript|raw }}{% endblock %}
