{#
  ./templates/slides/index.html.twig
  Variables disponibles:
    - slides Array(slide( id, titre.., texte.., lien, image, slug.. )) Multilingue titre.. -> titrefr titreen
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}
<section id="main-slider" class="no-margin">
  <div class="carousel slide">
    <ol class="carousel-indicators">
        {% set i = 0 %}
        {% for slide in slides %}
          <li data-target="#main-slider" data-slide-to="{{ i }}" class="{% if i == 0 %}active{% endif %}">
          </li>
          {% set i = i + 1 %}
        {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% set i = 0 %}
      {% for slide in slides %}
        <div class="item {% if i == 0 %}active{% endif %}" style="background-image: url({{ asset('img/slides/' ~ slide.image ) }})">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="carousel-content centered">
                            <h2 class="animation animated-item-1">{{ attribute( slide, 'titre' ~ app.request.locale ) }}</h2>
                            <p class="animation animated-item-2">{{ attribute( slide, 'texte' ~ app.request.locale ) }}</p>
                            {#
                              { % if slide.lien is defined and slide.lien not same as("")   % } ne fonctionne pas
                            #}
                            {% if slide.lien is defined and slide.lien is not empty %}
                                <br>
                                <a class="btn btn-md animation animated-item-3" href="{{ slide.lien }}">Learn More</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        {% set i = i + 1 %}
      {% endfor %}
    </div><!--/.carousel-inner-->
  </div><!--/.carousel-(slide)-->
  <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
      <i class="icon-angle-left"></i>
  </a>
  <a class="next hidden-xs" href="#main-slider" data-slide="next">
      <i class="icon-angle-right"></i>
  </a>
</section><!--/#main-slider-->
