{#
  ./templates/slides/show.html.twig
  Variables disponibles:
    - slide( id, titre.., texte.., lien, image, slug.. ) Multilingue titre.. -> titrefr titreen
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}
{% extends 'base.html.twig' %}

{% block title %}
  {{ slide.id }}
{% endblock %}

{% block content1 %}
  <br/><br/><br/><br/><br/><br/><br/>
  <h1>Slide: {{ attribute( slide, 'titre' ~ app.request.locale ) }}</h1>
  <div>
    News Texte:<br/>{{ attribute( slide, 'texte' ~ app.request.locale ) }}
  </div>
  <div>
    <img src="{{ asset('img/slides/' ~ slide.image) }}" alt="_">
  </div>
  <br/>
{% endblock %}

{% block app_script %}
{% endblock %}
