{#
  ./templates/portfolios/indexlast.html.twig      -      Page 1 [ACCUEIL] - Nos travaux récents!
  Variables disponibles:
    - portfolios Array( portfolio( id, client, datecreation, titre.., titresecondaire.., texte.., image, slug.., array tags(), imageFile, imageName, imageSize, updatedAt ) )  .. => fr, en
    - int nbportfolios
    - string class
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}

<!-- Nos travaux récents! - Page 1 [ACCUEIL] -->
<div class="section section-white">
  <div class="container">
    <div class="row">

      <div class="section-title">
        <h1>{{ 'accueil.titre' | trans }}</h1>
      </div>


      <ul class="grid cs-style-3">
        {# Affichage de l'aperçu des PORTFOLIOS #}
        {% include 'partials/listeportfolios.html.twig' %}
      </ul>
    </div>
  </div>
</div>
<!-- Our Portfolio -->
