{#
  ./templates/portfolios/indexmore.html.twig     -     NOTRE PORTFOLIO  -  page 2  -  PORTFOLIOS
  Variables disponibles:
    - portfolios Array( portfolio( id, client, datecreation, titre.., titresecondaire.., texte.., image, slug.., array tags(), imageFile, imageName, imageSize, updatedAt ) )  .. => fr, en
    - int nbportfolios
    - string class
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}

{# Affichage de l'aperçu des PORTFOLIOS #}
{% include 'partials/listeportfolios.html.twig' %}
