{#
  ./templates/portfolios/index.html.twig      -      NOTRE PORTFOLIO page 2 - Affichage des PORTFOLIOS
  Variables disponibles:
    - portfolios Array( portfolio( id, client, datecreation, titre.., titresecondaire.., texte.., image, slug.., array tags(), imageFile, imageName, imageSize, updatedAt ) )  .. => fr, en
    - int nbportfolios
    - string class
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>{{ 'portfolio.h2' | trans }}</h2>
        <h3>{{ 'portfolio.h3' | trans }}</h3>
        <p>
          {{ 'portfolio.texte' | trans }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">

      <ul class="grid cs-style-2 liste">
        {# Affichage de l'aperçu des PORTFOLIOS #}
        {% include 'partials/listeportfolios.html.twig' %}
      </ul>

    </div>

    <ul class="pager">
      <li>
        <a id="more" data-url="{{ path('app_portfolios_index', {'vue': 'indexmore'}) }}" data-url2="{{ nbportfolios }}" href="#">{{ 'portfolio.bouton' | trans }}</a>
      </li>
    </ul>

  </div>
</div>
