{#
  ./templates/portfolios/indexsimilar.html.twig      -      4 Travaux similaires - page Détails du portfolio
  Variables disponibles:
    - portfolios Array( portfolio( id, client, datecreation, titre.., titresecondaire.., texte.., image, slug.., array tags(), imageFile, imageName, imageSize, updatedAt ) )  .. => fr, en
    - int nbportfolios
    - string class
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}
<!-- similar Portfolio -->
  <ul class="grid cs-style-3">
    {# Affichage de l'aperçu des PORTFOLIOS #}
    {% include 'partials/listeportfolios.html.twig' %}
  </ul>
<!-- similar Portfolio -->
