{#
  ./templates/portfolios/show.html.twig      -      Détail d'un portfolio
  Variables disponibles:
    - portfolio( id, client, datecreation, titre.., titresecondaire.., texte.., image, slug.., array tags(), imageFile, imageName, imageSize, updatedAt )  .. => fr, en
  Variable globale:
    - app.request.locale -> "fr" "en" pour un site multilingue
#}
{% extends 'base.html.twig' %}

{% block title %}
  {{ attribute( portfolio, 'slug' ~ app.request.locale ) }}
{% endblock %}


{% block content1 %}
  <!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ 'portfolio-item.titre' | trans }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <!-- Product Image & Available Colors -->
        <div class="col-sm-6">
            <div class="product-image-large">
              <img src="{{ asset("img/portfolio/" ~ portfolio.image ) }}" alt="{{ attribute( portfolio, 'titre' ~ app.request.locale ) }}">
            </div>
            {% if portfolio.imageName is defined and portfolio.imageName is not empty %}
              <br>
              <div class="product-image-large">
                <img src="{{ asset("images/upload/" ~ portfolio.imageName ) }}" alt="{{ attribute( portfolio, 'titre' ~ app.request.locale ) }} bis">
              </div>
            {% endif %}
            <div class="colors">
              <span class="color-white"></span>
              <span class="color-black"></span>
              <span class="color-blue"></span>
              <span class="color-orange"></span>
              <span class="color-green"></span>
          </div>
        </div>
        <!-- End Product Image & Available Colors -->
        <!-- Product Summary & Options -->
        <div class="col-sm-6 product-details">
          <h2>{{ attribute( portfolio, 'titre' ~ app.request.locale ) }}</h2>
          <h3>{{ attribute( portfolio, 'titresecondaire' ~ app.request.locale ) }}</h3>
          <p>{{ attribute( portfolio, 'texte' ~ app.request.locale ) }}</p>
          <h3>{{ 'portfolio-item.details' | trans }}</h3>
          <p><strong>Client: </strong>{{ portfolio.client }}</p>
          <p><strong>Date: </strong>{{ portfolio.datecreation|date('d-m-Y') }}</p>
          <p><strong>Tags: </strong>
          {% for tag in portfolio.tags %}
            <a href="{{ path('app_tags_show', {
                          'id': tag.id,
                          'slug': attribute( tag, 'slug' ~ app.request.locale )
                    }) }}">{{ tag }}
            </a>,
          {% endfor %}
          </p>
        </div>
        <!-- End Product Summary & Options -->

      </div>
    </div>
  </div>

  <hr>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h1>{{ 'portfolio-item.Travaux-similaires' | trans }}</h1>
        </div>

        {# Travaux similaires #}
        <ul class="grid cs-style-2">
          {{ render(controller('App\\Controller\\PortfolioController::indexAction',{ vue: 'indexsimilar', orderBy: { 'datecreation' : 'DESC'}, limit: 4, class: 'col-md-3 col-sm-6' } )) }}
        </ul>

      </div>
    </div>
  </div>
{% endblock %}

{% block app_script %}
{% endblock %}
